@model KairaCQRSMediator.Features.Mediator.Results.ContactInfoResults.GetContactInfoQueryResult

<div class="contact-info">
    <h5 class="element-title text-uppercase mb-3">BİZE ULAŞIN</h5>
    <div class="mb-2">
        <strong>Herhangi bir sorunuz veya öneriniz mi var?</strong>
    </div>
    <div class="mb-2">
        <a href="mailto:@Model.Email" class="text-decoration-none">@Model.Email</a>
    </div>
    <div class="mb-2">
        <strong>Desteğe mi ihtiyacınız var? Bizi arayın.</strong>
    </div>
    <div class="mb-3">
        <a href="tel:@Model.Phone?.Replace(" ", "")" class="text-decoration-none">@Model.Phone</a>
    </div>
    <div class="mb-2">
        <strong>Adres:</strong>
    </div>
    <div class="mb-3">
        @Model.Address
    </div>
    <div>
        <strong>Çalışma Saatleri:</strong><br />
        @Model.WorkingHours
    </div>
</div>
