<section class="video py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="video-content open-up" data-aos="zoom-out">

           
                <a href="https://youtu.be/P00HwM_S_Js?si=0w8HR9VP_D2oHGFF"
                   target="_blank"
                   style="display:block;">

                    <img src="~/kaira-1.0.0/images/video-image-2.jpg"
                         alt="video"
                         class="video-image img-fluid"
                         style="width:100%; height:850px; object-fit:cover; object-position:center top;">
                </a>

            </div>
        </div>
    </div>
</section>
